{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'styles.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Tech Exercise</title>
</head>
<body>
    <h1>To-Do List</h1>
    <form id="dataInput" method="post">
        {% csrf_token %}

        <ol>
            {% for item in data %}
            <li>
                <input type="checkbox" name="entry" value="{{item.itemid}}"/>
                {{ item.item }}
            </li>
            {% endfor %}
        </ol>
    
        {{ form.as_p }}
        <button name="submit" type="submit" >Submit</button>
    </form>

    <h3>Instructions: If you would like to add an item to the to-do list, enter your item into the Item field and click
    submit button. If you have completed an item, click the checkbox on that item and click the submit button. Both of 
    these functions can work at the same time.</h3>
    
    <img src="/static/cool_meme.jpeg" alt="meme image here" title="Figure 1.0: Cool Meme"/>

</body>
</html>